@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2f394d;
    font-family: 'Bakbak One', cursive;
}
.container-chrono {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
}

h4 {
    text-align: center;
    font-family: 'Bakbak One', cursive;
    text-transform: uppercase;
    color: #2f394d;
}

.anim-glow {
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    from {
        box-shadow: 0 0 5px 0 #f1f1f1;
    }
    to {
        box-shadow: 0 0 10px 10px rgb(55, 125, 155);
    }
}

.container-config {
    display: flex;
    justify-content: center;
    padding: 70px 0 0;
}
.box-btns button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 50px;
    border: 3px solid rgba(74, 78, 105, 1);
    background: #f1f1f1;
    position: relative;
    box-shadow: 0 6px rgba(74, 78, 105, 1);
    color: rgba(74, 78, 105, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bakbak One', cursive;
}
.box-btns button:active {
    box-shadow: 0 0 rgba(74, 78, 105, 1);
    top: 6px;
}

.box-btns span {
    font-size: 35px;
    font-weight: bold;
    color: rgba(74, 78, 105, 1);
    margin: 0 15px;
}

.box-btns:nth-child(1) {
    margin-right: 30px;
}
.box-btns:nth-child(1),
.box-btns:nth-child(2) {
    position: relative;
}
.box-btns:nth-child(1)::before,
.box-btns:nth-child(2)::before {
    content: "Session";
    position: absolute;
    left: 51%;
    top: -35px;
    transform: translateX(-50%);
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Bakbak One', cursive;
    color: rgba(74, 78, 105, 1);
}
.box-btns:nth-child(2)::before {
    content: "BREAK";
    font-family: 'Bakbak One', cursive;
}

.container-controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0;
}
.container-controllers button {
    padding: 10px 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 5px;
    background: #f1f1f1;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 6px rgba(74, 78, 105, 1);
    border: 3px solid rgba(74, 78, 105, 1);
}
.container-controllers button:active {
    box-shadow: 0 0 rgba(74, 78, 105, 1);
    top: 6px;
}
.container-controllers img {
    width: 50px;
    height: 50px;
}
.container-controllers img[src="/static/media/pause.51695783.svg"] {
    width: 20px;
    height: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1366px) {
    .container-chrono {
        width: 100vw;
        height: 100vh;
        border-radius: 5px;
        padding: 10px 20px;
    }
    .box-btns span {
        font-size: 30px;
        margin: 0 5px;
    }
}

